.Titulo{
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.Tabla{
  width: 500px;
  font-family: sans-serif;
}
.Casilla1{
  width: 98%;
  height: 25px;
  top: 15px;
  border-radius: 15px;
  border: none;
  padding: 1%;
}
